@media (min-width: 375px){
    /* ------- */
    /* DISPLAY */
    /* ------- */

    .container_display .word {
        margin: 20px 0 50px;
        font-size: 1.1em;
    }

    .container_display .box_button p {
        margin: 20px 0 50px;
    }

    /* ---------- */
    /* MODAL INFO */
    /* ---------- */

    .container_modal_info .box_modal_info {
        width: 350px;
        height: 650px;
    }

    /* --------- */
    /* MODAL WIN */
    /* --------- */

    .container_modal_win .box_modal_win {
        width: 350px;
        border-radius: 25px;
    }

    .box_modal_win .span_modal {
        margin-bottom: 20px;
    }

    /* ------------- */
    /* MODAL CONFIRM */
    /* ------------- */

    .container_modal_confirm .box_modal_confirm {
        margin-bottom: 10px;
        width: 350px;
    }
}

@media (min-width: 425px){

    /* ----- */
    /* ASIDE */
    /* ----- */
    
    .box_letter_try .letter_tried {
        font-size: 1.4em;
    }

    .container_display .word {
        font-size: 1.1em;
    }

    /* ---------- */
    /* MODAL INFO */
    /* ---------- */

    .container_modal_info .box_modal_info {
        width: 400px;
        height: 650px;
    }

    /* --------- */
    /* MODAL WIN */
    /* --------- */
    .container_modal_win .box_modal_win {
        width: 400px;
        border-radius: 50%;
    }

    .box_modal_win .title_modal {
        margin: 20px 0;
    }

    .box_modal_win .span_modal {
        margin-bottom: 0;
    }

    /* ------------- */
    /* MODAL CONFIRM */
    /* ------------- */

    .container_modal_confirm .box_modal_confirm {
        margin-bottom: 10px;
        width: 350px;
    }
}

@media (min-width: 600px) {
    /* ------- */
    /* DISPLAY */
    /* ------- */

    .container_display .word {
        font-size: 1.3em;
    }
}

@media (min-width: 768px){

    /* ----- */
    /* ASIDE */
    /* ----- */

    .box_aside {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .container_aside .button_reset {
        margin-left: 20px;
    }

    .container_aside .accentDisable,
    .container_aside .accentActive {
        margin: 10px 10px;
    }

    /* ------- */
    /* DISPLAY */
    /* ------- */

    .container_display .info_title {
        font-size: 6em;
    }

    .container_display .word {
        font-size: 1.5em;
    }

    /* ---------- */
    /* MODAL INFO */
    /* ---------- */

    .container_modal_info .box_modal_info {
        width: 600px;
        height: 650px;
    }

    /* --------- */
    /* MODAL WIN */
    /* --------- */

    .container_modal_win .box_modal_win {
        width: 600px;
        height: 400px;
        border-radius: 50%;
    }

    .box_modal_win .title_modal {
        font-size: 3em;
        margin: 60px 0 20px;
    }

    .box_modal_win .span_modal {
        margin-bottom: 20px;
    }

    /* ------------- */
    /* MODAL CONFIRM */
    /* ------------- */

    .container_modal_confirm .box_modal_confirm {
        margin-bottom: 10px;
        width: 350px;
    }
}

@media (min-width: 1000px) {

    body {
        display: grid;
        grid-template-columns: 1.5fr 6.5fr;
        grid-template-rows: 1fr 1fr 0.5fr;
        grid-template-areas:
        "aside header"
        "aside display"
        "realization display"        
        ;
    }

    /* ----- */
    /* ASIDE */
    /* ----- */

    .container_aside {
        border-right: 1px solid #fff;
    }
    
    .container_aside .box_score {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .container_aside .score {
        font-size: 1.8em;
    }
    
    .box_score .box_try {
        margin: 30px 20px;
    }

    .container_aside .box_aside {
        flex-direction: column;
        margin-top: 20px;
    }

    .container_aside .button_reset {
        margin-left: 0;
    }

    .container_aside .accentDisable,
    .container_aside .accentActive {
        margin: 10px 0;
    }

    .container_aside .box_letter_try {
        margin-top: 20px;
    }

    .box_letter_try .letter_tried {
        font-size: 1.4em;
    }

    /* ------ */
    /* HEADER */
    /* ------ */

    .container_header {
        grid-area: header;
        border-bottom: none;
    }

    /* ------- */
    /* DISPLAY */
    /* ------- */

    .container_header .header_title {
        font-size: 8em;
    }

    .container_header .word {
        font-size: 1.7em;
    }

    .container_display .box_button p {
        margin: 10px 0 0;
    }  

    /* ----------- */
    /* REALIZATION */
    /* ----------- */

    .container_realization {
        grid-area: realization;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
    }

    /* ---------- */
    /* MODAL INFO */
    /* ---------- */

    .container_modal_info .box_modal_info {
        width: 800px;
        height: 650px;
    }
}

@media (min-width: 1600px) {

    body {
        display: grid;
        grid-template-columns: 1.2fr 6.5fr;
        grid-template-rows: 1fr 1fr 0.5fr;
        grid-template-areas:
        "aside header"
        "aside display"
        "realization display"        
        ;
    }
}

@media (max-height: 660px){
    /* ------- */
    /* DISPLAY */
    /* ------- */

    .container_display .info_display {
        padding-bottom: 30px;
    }

    .container_display .info_title {
        margin: 10px 0;
    }

    .container_display .word {
        margin-bottom: 20px;
    }
}